body {
	overflow: hidden;
}

.panel-actions {
	margin-top: -20px;
	margin-bottom: 0;
	text-align: right;
}

.panel-actions a {
	color: #333;
}

.panel-fullscreen {
	display: block;
	z-index: 9999;
	position: fixed;
	width: 100%;
/* 	height: 100%; */
/* 	top: 30px; */
	right: 0;
	left: 0;
/* 	bottom: 0; */
	overflow: auto;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-right: -30px;
  right: 30px;
  width: 30px;
/*   background: #CCC; */
  position: fixed;
  height: 40%;
  top: 200px;
  overflow: none;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.subwin {
	padding-left: 8px;
	padding-right: 0px;
}
.cgcolor {
    color: #7B1717 !important;
    background-color: #ECBDE2 !important;
    border-color: #C11 !important;
}