<div class="row" ng-controller="customerInfoCtrl">
	<div class='col-lg-12'>
		<div class="h4 col-lg-4" role="button" ng-click="isCollapsed = !isCollapsed">山田太郎</div>
		<table class="h4 col-lg-8">
			<tr>
				<td><span role="button" class="glyphicon glyphicon-user text-danger" tooltip-placement="bottom" uib-tooltip="basic info"></span></td>
				<td><span class="glyphicon glyphicon-header text-success" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-eye-open text-info"tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-briefcase" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-hourglass" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-lock" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-book" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-heart" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
			</tr>
		</table>

		<div class='row' >
			<div class= 'col-lg-12' uib-collapse="isCollapsed">
				<div class="well">
					<table class="table">
						<tr class="small">
							<th class="col-lg-2 ">口座番号</th>
							<td class="col-lg-2 ">600157</td>
							<th class="col-lg-2 ">見込顧客番号</th>
							<td class="col-lg-2 ">8001234567</td>
							<th class="col-lg-2 ">扱者</th>
							<td class="col-lg-2 ">漢字 00001</td>
						</tr>
						<tr class="small">
							<th class="col-lg-2 ">顧客名</th>
							<td class="col-lg-2 ">山田太郎</td>
							<th class="col-lg-2 ">ふりかな</th>
							<td class="col-lg-2 ">やまだたろう</td>
							<th class="col-lg-2 ">性別</th>
							<td class="col-lg-2 ">女 性</td>
						</tr>
						<tr class="small">
							<th class="col-lg-2 ">暗証番号</th>
							<td class="col-lg-2 ">＊＊＊＊</td>
							<th class="col-lg-2">部店</th>
							<td class="col-lg-2">リテールダイレクト</td>
							<th class="col-lg-2">顧客区分</th>
							<td class="col-lg-2">一般</td>
		
						</tr>
						<tr class="small">
							<th>生年月日</th>
							<td>1961/12/12</td>
							<th>年齢</th>
							<td class="text-danger">81</td>
							<th class="col-lg-2 ">評価額合計(投信)</th>
							<td class="col-lg-2 ">123,456,789</td>
						</tr>
						<tr class="small">
							<th>電話番号</th>
							<td>0312341234</td>
							<th>日中連絡先</th>
							<td>0312341234</td>
							<th class="col-lg-2 ">評価額合計(株式)</th>
							<td class="col-lg-2 ">123,456,789</td>
						</tr>
						<tr class="small">
							<th>勤務先/代表者</th>
							<td>連絡先409316</td>
							<th>勤務先電話番号</th>
							<td>0312341234</td>
							<th class="col-lg-2">お預かり金(本日)</th>
							<td class="col-lg-2">123,456,789</td>
						</tr>
						<tr class="small">
							<th>郵便番号</th>
							<td>132-3456</td>
							<th>登録日</th>
							<td>2007/06/01</td>
							<th class="col-lg-2">MRF</th>
							<td class="col-lg-2">123,456,789</td>
						</tr>
						<tr class="small">
							<th>住所</th>
							<td colspan="3">住所漢字1住所漢字2住所漢字3住所漢字4住所漢字5</td>
							<th class="col-lg-2 ">合計 (資産)</th>
							<td class="col-lg-2 ">1,234,567,891</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='row' style="height:320px">
	<div class='col-lg-12' ng-controller ="panelController">
		<div class=" panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:300px">
			<div class="panel-heading">
				<h3 class="panel-title small">w001</h3>
				<ul class="list-inline panel-actions">
					<li>
						<a ng-click="fullscreen =!fullscreen" id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
					</li>
					<li>
						<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
						    <li><a ng-click="detail1()" >顧客別手数料</a></li>
						    <li><a ng-click="detail2()">顧客明細</a></li>
						    <li><a ui-sref='.detail3'>保有明細</a></li>
						    <li><a ui-sref='.detail2'>SBS</a></li>
						    <li><a ui-sref='.detail2'>登録金融機関</a></li>
						    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
						    <li><a ui-sref='.detail2'>取引履歴</a></li>
						    <li><a ui-sref='.detail2'>NiSA</a></li>
						    <li><a ui-sref='.detail2'>FATCA</a></li>
						    <li><a ui-sref='.detail2'>AML</a></li>
						</ul>
						</div>
					</li>
				</ul>
			</div>
			<div ng-include=htmlname  style="height: 88%; overflow-y: auto;"></div>
		</div>
	</div>
</div>

<div class="row" style="height:320px">
	<div class='col-lg-12' ng-controller ="panelController">
		<div class=" panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:300px">
			<div class="panel-heading">
				<h3 class="panel-title small">w002</h3>
				<ul class="list-inline panel-actions">
					<li>
						<a ng-click="fullscreen =!fullscreen" id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
					</li>
					<li>
						<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
						    <li><a ng-click="detail1()" >顧客別手数料</a></li>
						    <li><a ng-click="detail2()">顧客明細</a></li>
						    <li><a ui-sref='.detail3'>保有明細</a></li>
						    <li><a ui-sref='.detail2'>SBS</a></li>
						    <li><a ui-sref='.detail2'>登録金融機関</a></li>
						    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
						    <li><a ui-sref='.detail2'>取引履歴</a></li>
						    <li><a ui-sref='.detail2'>NiSA</a></li>
						    <li><a ui-sref='.detail2'>FATCA</a></li>
						    <li><a ui-sref='.detail2'>AML</a></li>
						</ul>
						</div>
					</li>
				</ul>
			</div>
			<div ng-include=htmlname  style="height: 88%; overflow-y: auto;"></div>
		</div>
	</div>
</div>