<div  ng-controller="customerInfoCtrl">
	<div class='col-lg-12'>
		<div class="h4 col-lg-4 col-md-4 col-sm-4" role="button">123456 山田太郎(やまだたろう)</div>
		<table class="h4 col-lg-8 col-md-8 col-sm-8">
			<tr>
				<td><span class="glyphicon glyphicon-ok-sign" tooltip-placement="bottom" uib-tooltip="特定源あり"></span></td>特定源なし 一般 glyphicon glyphicon-remove-sign glyphicon glyphicon-minus-sign
				<td><span class="glyphicon glyphicon-warning-sign" tooltip-placement="bottom" uib-tooltip="ワーニング"></span></td>
				<td><span class="glyphicon glyphicon-gift"tooltip-placement="bottom" uib-tooltip="株式口座あり"></span></td>
				<td><span class="glyphicon glyphicon-briefcase" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-hourglass" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-sunglasses" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-lock" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span class="glyphicon glyphicon-book" tooltip-placement="bottom" uib-tooltip="On the bottom"></span></td>
				<td><span role="button" class="glyphicon glyphicon-heart" tooltip-placement="bottom" uib-tooltip="pink" ng-click="changeColor()"></span></td>
			</tr>
		</table>
	</div>
</div>

<div  style="height:310px">
	<div class='col-lg-12 col-md-12 col-sm-12 subwin' ng-controller ="panelController" name="w001" >
		<div class=" panel panel-default small " ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:300px">
			<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
				<ul class="nav nav-tabs ">
				  <li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
				  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
				  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
				</ul>
				<ul class="list-inline panel-actions">
					<li>
						<a ng-click="fullscreen =!fullscreen" id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
					</li>
					<li>
						<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
						    <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
						    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
						    <li><a ng-click="changeMenu('2')">保有明細</a></li>
						    <li><a ng-click="changeMenu('3')">SBS</a></li>
						    <li><a ui-sref='.detail2'>登録金融機関</a></li>
						    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
						    <li><a ui-sref='.detail2'>取引履歴</a></li>
						    <li><a ui-sref='.detail2'>NiSA</a></li>
						    <li><a ui-sref='.detail2'>FATCA</a></li>
						    <li><a ui-sref='.detail2'>AML</a></li>
						</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-12"  ng-include=htmlname  style="height: 88%; overflow-y: auto;"></div>
		</div>
	</div>
</div>
<div  style="height:310px">
	<div class='col-lg-4  col-md-4 subwin' ng-controller ="panelController" name="w002">
		<div class=" panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:300px">
			<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
				<ul class="nav nav-tabs ">
				<li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
				  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
				  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
				</ul>
				<ul class="list-inline panel-actions">
					<li>
						<a ng-click="fullscreen =!fullscreen" id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
					</li>
					<li>
						<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
						     <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
						    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
						    <li><a ng-click="changeMenu('2')">保有明細</a></li>
						    <li><a ng-click="changeMenu('3')">SBS</a></li>
						    <li><a ui-sref='.detail2'>登録金融機関</a></li>
						    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
						    <li><a ui-sref='.detail2'>取引履歴</a></li>
						    <li><a ui-sref='.detail2'>NiSA</a></li>
						    <li><a ui-sref='.detail2'>FATCA</a></li>
						    <li><a ui-sref='.detail2'>AML</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-12"  ng-include=htmlname  style="height: 88%; overflow-y: auto;"></div>
		</div>
	</div>
	<div class=' col-lg-4 col-md-4 subwin' ng-controller ="panelController" name="w003">
		<div class="panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:300px">
			<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
				<ul class="nav nav-tabs ">
				 <li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
				  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
				  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
				</ul>
				<ul class="list-inline panel-actions">
					<li>
						<a ng-click="fullscreen =!fullscreen" id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
					</li>
					<li>
						<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
						     <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
						    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
						    <li><a ng-click="changeMenu('2')">保有明細</a></li>
						    <li><a ng-click="changeMenu('3')">SBS</a></li>
						    <li><a ui-sref='.detail2'>登録金融機関</a></li>
						    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
						    <li><a ui-sref='.detail2'>取引履歴</a></li>
						    <li><a ui-sref='.detail2'>NiSA</a></li>
						    <li><a ui-sref='.detail2'>FATCA</a></li>
						    <li><a ui-sref='.detail2'>AML</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-12" ng-include=htmlname  style="height: 88%; overflow-y: auto;"></div>
		</div>
	</div>
	
	<div class=' col-lg-4 col-md-4 subwin' ng-controller ="panelController" name="w004">
		<div class="panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:300px">
			<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
				<ul class="nav nav-tabs ">
				  <li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
				  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
				  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
				</ul>
				<ul class="list-inline panel-actions">
					<li>
						<a ng-click="fullscreen =!fullscreen" id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
					</li>
					<li>
						<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
						    <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
						    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
						    <li><a ng-click="changeMenu('2')">保有明細</a></li>
						    <li><a ng-click="changeMenu('3')">SBS</a></li>
						    <li><a ui-sref='.detail2'>登録金融機関</a></li>
						    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
						    <li><a ui-sref='.detail2'>取引履歴</a></li>
						    <li><a ui-sref='.detail2'>NiSA</a></li>
						    <li><a ui-sref='.detail2'>FATCA</a></li>
						    <li><a ui-sref='.detail2'>AML</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-12"  ng-include=htmlname  style="height: 88%; overflow-y: auto;"></div>
		</div>
	</div>
</div>



																					
			パターン1										※例外事項等は顧客情報に表記								
	口座番号	glyphicon glyphicon-ok-sign	特定源あり		ワーニング		株式口座あり		"NISA口座 
or 
ジュニアNISA"		Y客		印鑑登録なし		・高齢者【80歳以上】	glyphicon glyphicon-bullhorn					
	顧客名	glyphicon glyphicon-remove-sign	特定源なし												・高齢者【75歳～79歳】						
	ヨミガナ	glyphicon glyphicon-minus-sign	一般												・成人	glyphicon glyphicon-education					
	口座閉鎖　or Y客				glyphicon glyphicon-warning-sign		glyphicon glyphicon-gift		glyphicon glyphicon-ice-lolly		glyphicon glyphicon-thumbs-down		glyphicon glyphicon-text-background		・未成年	glyphicon glyphicon-piggy-bank					
									glyphicon glyphicon-ice-lolly-tasted				#66CCCC								
			パターン2																		
			・特定源あり		ワーニング		株式口座あり		"NISA口座 
or 
ジュニアNISA"		注意事項		※高齢者は登録情報に表示。ポップアップメッセージはそのまま								
			・特定源なし																		
			・一般																	例外事項	印鑑登録なし
											▼										口座閉鎖
											印鑑登録なし		glyphicon glyphicon-text-background								相続
			#99CC00		#CC0033		#3399CC		#FF9900		相続		glyphicon glyphicon-log-out								
											初回ログインなし		glyphicon glyphicon-eye-close								
																					
											#990066										
