<div style="height:42px"  ng-controller="customerInfoCtrl">
	<div class='col-lg-12'>
		<div class="h4 col-lg-4 col-md-4 col-sm-4"> <span ng-click="changeColor()">123456 山田太郎(やまだたろう)</span>  <span ng-click="reset()" ng-show="class8+class9+class10==3">口座閉鎖  Y客</span></div>
		<table class="h4 col-lg-8 col-md-8 col-sm-8">
			<tr>
				<td><span ng-click = "tipOpen1()" class="glyphicon tip1" ng-class="{0: 'glyphicon-ok-sign', 1: 'glyphicon-remove-sign', 2: 'glyphicon-minus-sign'}[class1]" tooltip-placement="bottom" uib-tooltip="{{tipNames1[class1]}}"></span></td>
				<td><span ng-click = "tipOpen2()" class="glyphicon glyphicon-warning-sign " ng-class="{0: 'tip2', 1: 'tip0'}[class2]" tooltip-placement="bottom" uib-tooltip="{{tipNames2[class2]}}"></span></td>
				<td><span ng-click = "tipOpen3()" class="glyphicon glyphicon-gift" ng-class="{0: 'tip3', 1: 'tip0'}[class3]" tooltip-placement="bottom" uib-tooltip="{{tipNames3[class3]}}"></span></td>
				<td><span ng-click = "tipOpen4()" class="glyphicon tip4" ng-class="{0: 'glyphicon-ice-lolly', 1: 'glyphicon-ice-lolly-tasted'}[class4]" tooltip-placement="bottom" uib-tooltip="{{tipNames4[class4]}}"></span></td>
				<td><span ng-click = "tipOpen5()" class="glyphicon glyphicon-thumbs-down" ng-class="{0: 'tip5', 1: 'tip0'}[class5]" tooltip-placement="bottom" uib-tooltip="{{tipNames5[class5]}}"></span></td>
				<td><span ng-click = "tipOpen6()" class="glyphicon glyphicon-text-background" ng-show="class8+class9+class10==3" ng-class="{0: 'text-danger', 1: 'tip0'}[class6]" tooltip-placement="bottom" uib-tooltip="{{tipNames6[class6]}}"></span></td>
				<td><span ng-click = "tipOpen8()" class="glyphicon text-danger" ng-class="{0: 'glyphicon-text-background', 1: ''}[class8]" tooltip-placement="bottom" uib-tooltip="{{tipNames8[class8]}}"></span></td>
				<td><span ng-click = "tipOpen9()" class="glyphicon text-danger" ng-class="{0: 'glyphicon-log-out', 1: ''}[class9]" tooltip-placement="bottom" uib-tooltip="{{tipNames9[class9]}}"></span></td>
				<td><span ng-click = "tipOpen10()" class="glyphicon text-danger" ng-class="{0: 'glyphicon-eye-close', 1: ''}[class10]" tooltip-placement="bottom" uib-tooltip="{{tipNames10[class10]}}"></span></td>
				<td><span ng-click = "tipOpen7()" class="glyphicon" ng-class="{0: 'glyphicon-bullhorn text-danger', 1: 'glyphicon-bullhorn text-danger', 2: 'glyphicon-education text-info', 3 : 'glyphicon-piggy-bank text-info'}[class7]" tooltip-placement="bottom" uib-tooltip="{{tipNames7[class7]}}"></span></td>
			</tr>
		</table>
	</div>
</div>

<div id ="parent" autoheight>

	<div  id = "top" class="top-boxes" style="height: 50%; min-height: 30px" >	
		<div class='col-lg-12 col-md-12 col-sm-12 subwin' ng-controller ="panelController" name="w001"  style="height:100%">
			<div class=" panel panel-default small " ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]"  style="height:100%">
				<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
					<ul class="nav nav-tabs ">
					  <li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
					  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
					  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
					</ul>
					<ul class="list-inline panel-actions">
						<li>
							<a fullscreen id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
						</li>
						<li>
							<div class="btn-group" uib-dropdown is-open="status.isopen">
							<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
							    <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
							    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
							    <li><a ng-click="changeMenu('2')">保有明細</a></li>
							    <li><a ng-click="changeMenu('3')">SBS</a></li>
							    <li><a ui-sref='.detail2'>登録金融機関</a></li>
							    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
							    <li><a ui-sref='.detail2'>取引履歴</a></li>
							    <li><a ui-sref='.detail2'>NiSA</a></li>
							    <li><a ui-sref='.detail2'>FATCA</a></li>
							    <li><a ui-sref='.detail2'>AML</a></li>
							</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-12"  ng-include=htmlname   ng-style="innerTopStyle"></div>
			</div>
		</div>
	</div>
	
	<div resizer="h" parent="parent" partone="top" parttwo="bottom" class="resizer"><span></span><div id="width-readout" class="width-readout">912px</div></div>
	
	<div id = "bottom" class="top-boxes" style="height: 50%">
		<div id = "bottom-left"  class='box col-lg-4  col-md-4 subwin' ng-controller ="panelController" name="w002">
			<div class=" panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:100%">
				<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
					<ul class="nav nav-tabs ">
					<li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
					  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
					  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
					</ul>
					<ul class="list-inline panel-actions">
						<li>
							<a fullscreen id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
						</li>
						<li>
							<div class="btn-group" uib-dropdown is-open="status.isopen">
							<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
							     <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
							    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
							    <li><a ng-click="changeMenu('2')">保有明細</a></li>
							    <li><a ng-click="changeMenu('3')">SBS</a></li>
							    <li><a ui-sref='.detail2'>登録金融機関</a></li>
							    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
							    <li><a ui-sref='.detail2'>取引履歴</a></li>
							    <li><a ui-sref='.detail2'>NiSA</a></li>
							    <li><a ui-sref='.detail2'>FATCA</a></li>
							    <li><a ui-sref='.detail2'>AML</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-12"  ng-include=htmlname  ng-style="innerBottomStyle"></div>
			</div>
		</div>
		<div resizer="v" parent="bottom" partone="bottom-left" parttwo="bottom-mid" class="editor-resizer" title="Drag to resize. Double-click to expand."></div>
		<div id = "bottom-mid" class='box col-lg-4 col-md-4 subwin' ng-controller ="panelController" name="w003">
			<div class="panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:100%">
				<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
					<ul class="nav nav-tabs ">
					 <li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
					  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
					  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
					</ul>
					<ul class="list-inline panel-actions">
						<li>
							<a fullscreen id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
						</li>
						<li>
							<div class="btn-group" uib-dropdown is-open="status.isopen">
							<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
							     <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
							    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
							    <li><a ng-click="changeMenu('2')">保有明細</a></li>
							    <li><a ng-click="changeMenu('3')">SBS</a></li>
							    <li><a ui-sref='.detail2'>登録金融機関</a></li>
							    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
							    <li><a ui-sref='.detail2'>取引履歴</a></li>
							    <li><a ui-sref='.detail2'>NiSA</a></li>
							    <li><a ui-sref='.detail2'>FATCA</a></li>
							    <li><a ui-sref='.detail2'>AML</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-12" ng-include=htmlname  ng-style="innerBottomStyle" ></div>
			</div>
		</div>
		<div resizer="v" parent="bottom" partone="bottom-mid" parttwo="bottom-right" class="editor-resizer" title="Drag to resize. Double-click to expand."></div>
		<div id = "bottom-right" class='box col-lg-4 col-md-4 subwin' ng-controller ="panelController" name="w004">
			<div class="panel panel-default small" ng-class="{true: 'panel-fullscreen', false: ''}[fullscreen]" style="height:100%">
				<div class="col-sm-12" ng-class="{true: 'cgcolor', false: 'cgcolor-default'}[color]">
					<ul class="nav nav-tabs ">
					  <li role="presentation" ng-class="{0: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[0]]" ng-click="tabclick(0)">{{names[0]}}</a></li>
					  <li role="presentation" ng-class="{1: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[1]]" ng-click="tabclick(1)">{{names[1]}}</a></li>
					  <li role="presentation" ng-class="{2: 'active'}[active]"><a ng-class="{'' : 'glyphicon glyphicon-tags'}[names[2]]" ng-click="tabclick(2)">{{names[2]}}</a></li>
					</ul>
					<ul class="list-inline panel-actions">
						<li>
							<a fullscreen id="panel-fullscreen" role="button"	title="Toggle fullscreen"><i class = "glyphicon" ng-class="{false: 'glyphicon-resize-full', true: ' glyphicon-resize-small'}[fullscreen]"></i></a>
						</li>
						<li>
							<div class="btn-group" uib-dropdown is-open="status.isopen">
							<a href="#" id="panel-menu" role="button" uib-dropdown-toggle ><i class="glyphicon glyphicon-list"></i></a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="panel-menu" uib-dropdown-menu role="menu">
							    <li><a ng-click="changeMenu('0')">顧客別手数料</a></li>
							    <li><a ng-click="changeMenu('1')">顧客明細</a></li>
							    <li><a ng-click="changeMenu('2')">保有明細</a></li>
							    <li><a ng-click="changeMenu('3')">SBS</a></li>
							    <li><a ui-sref='.detail2'>登録金融機関</a></li>
							    <li><a ui-sref='.detail2'>コンタクト履歴</a></li>
							    <li><a ui-sref='.detail2'>取引履歴</a></li>
							    <li><a ui-sref='.detail2'>NiSA</a></li>
							    <li><a ui-sref='.detail2'>FATCA</a></li>
							    <li><a ui-sref='.detail2'>AML</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="#">Separated link</a></li>
							</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-12"  ng-include=htmlname  ng-style="innerBottomStyle"></div>
			</div>
		</div>
	</div>
</div>