		<form>
		  <div class="form-group col-sm-6 col-lg-6">
		    <label for="inputEmail3" class="col-sm-12 control-label">請求者</label>
		    <div class="col-sm-12">
		      <input type="text" class="form-control" id="inputEmail3" placeholder="請求者">
		    </div>
		    <label for="inputEmail4" class="col-sm-12  control-label">郵便番号</label>
		    <div class="col-sm-12">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="123-4567">
		    </div>
		    <label for="inputEmail4" class="col-sm-12  control-label">登録住所</label>
		    <div class="col-sm-12">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="登録住所1">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="登録住所2">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="登録住所3">
		    </div>
		  </div>
		  
		  <div class="form-group col-sm-6">
		    <div class="col-sm-12">
		      <input type="checkbox" aria-label="...">
		      <span>登録住所以外へ送付 </span>
		    </div>
		    <label for="inputEmail4" class="col-sm-12 control-label">郵便番号</label>
		    
		    <div class="col-sm-12">
		       <div class="input-group">
			      <input type="text" class="form-control" id="exampleInputAmount" placeholder="123">
			      <div class="input-group-addon ">-</div>
			      <input type="text" class="form-control " id="exampleInputAmount" placeholder="4567">
			    </div>
		    </div>
		    <label for="inputEmail4" class="col-sm-12 control-label">登録住所</label>
		    <div class="col-sm-12">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="登録住所1">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="登録住所2">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="登録住所3">
		    </div>
		    <label for="inputEmail4" class="col-sm-12 control-label">送先名義</label>
		    <div class="col-sm-12">
		      <input type="text" class="form-control" id="inputEmail4" placeholder="送先名義">
		    </div>
		  </div>
		</form>
	 <div class="modal-footer">
	     <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	 </div>
